* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}
body {
    width: 1000px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

/* debug section */

 /* .siteheader.debug{ 
    height: 100px;
     background-color:rgb(222 175 24 / 43%); */

/* .heroimg.debug {
    height: 430px;
} */
/* .titlecontent.debug {
    height: 100px;
} */
.sitecontent.debug {
    height: 600px;
}
/*.sidetext.debug {
     height: 500px;
    background-color: rgb(252, 239, 61); 
}*/

/* .centertext.debug {
    height: 500px;
     background-color:mediumblue; 
}*/
/* .sitefooter {
  height: 50px;
} */
/* /debug section */
    /* Site Header */
    .siteheader {
   
    margin: 1rem;
    margin-top: 0;
    }
    .logoimg {
    border-right: 0.2rem solid #E8E8E8;
    padding-right: 2rem;
    height: 4rem;
    }
    .navbar {
    margin-top: 2rem;
    margin-bottom: 2rem;
    }
    a {
    text-decoration: none;
    color: #979797;
    margin-right: 0.5rem;
    font-weight: bold;
    }
    /* /Site Header */

    /* Site Main */
    .heroimg {
        border-radius: 0.5rem;
        background-color: lightgray;
        background-image: url("../img/banner.jpg");
        background-position: center;
        background-blend-mode:multiply;
        height: 430px;
    }
    .herotext {
        width: 43%;
        color: white;
        margin: 3rem;
        position:relative;
        top: 60%;
    }
    .titlecontent {
        margin: 2rem;
        margin-left: 0;
    }
    .title {
        font-size: 2.5rem;
        font-weight: bolder;
        font-family: system-ui;
    }
    .titletext {
        color: #979797;
        font-size: 0.9rem;
        font-weight: bold;
    }
        /* Site content */
        .sidetext {
        
        width: 20%;
        float: left;     
        }
        .centertext {
        width: 56%;
        float: left;
        margin-left: 2%;
        margin-right: 2%;
        }
        .imgleft {
       height: 11rem;
       background-image: url(../img/img-1.jpg);
       background-blend-mode:multiply;
       background-color: lightgray;
       background-size: cover;
       background-position: center;
       border-radius: 1rem;
        }
        .imgcenter {
       height: 11rem;
       border-radius: 1rem;
       background-image: url(../img/banner-2.jpg);
       background-blend-mode:multiply;
       background-color: lightgray;
       background-size: cover;
       background-position: center;
       border-bottom: 3px solid lightgray;
        }
        .imgright {
       height: 11rem;
       background-image: url(../img/img-3.jpg);
       background-blend-mode:multiply;
       background-color: lightgray;
       background-size: cover;
       background-position: center;
       border-radius: 1rem;
       }
        h6 {
        font-size:0.9rem;
        margin: 1rem;
        margin-left: 0;
        }
        p {
        font-size: 0.9rem;
        font-weight: bold;
        color: #979797;
    }
    /* /Site content */

/* /Site Main */
/* Sitefooter */
.sitefooter {
    margin: 1rem;
    margin-top: 2rem;
    text-align: center;
    font-weight:bolder;
}
.heart {
    color: red;
    font-size: x-large;
}
/* /Sitefooter */