* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}
body {
    width: 80%;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

/* debug section */
 /* .siteheader.debug{ 
    height: 100px;
     background-color:rgb(222 175 24 / 43%); */

.heroimg.debug {
    height: 400px;
}
.titlecontent.debug {
    height: 100px;
}
.sitecontent.debug {
    height: 630px;
}
.sidetext.debug {
    height: 500px;
}
.centertext.debug {
    height: 500px;
}
.sitefooter {
  height: 50px;
}
/* /debug section */
/* Site Header */
.siteheader {
   
    margin: 1rem;
    margin-top: 0;
    
}

.logoimg {
    border-right: 0.2rem solid #E8E8E8;
    padding-right: 2rem;
    height: 5rem;
}
.navbar {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
a {
    text-decoration: none;
    color: #979797;
    margin-right: 0.5rem;
    font-weight: bold;
}
/* /Site Header */
/* Site Main */
    .heroimg {
        margin: 1rem;
        border-radius: 0.5rem;
        background-image: url("/img/banner.jpg");
        background-size: cover;
    
    
    }
    .herotext {
        width: 50%;
        color: white;
    }
    .titlecontent {
        background-color: rgb(207 236 225);
        margin-bottom: 1rem;
      
    }
    
    /* Site content */
    .sidetext {
        background-color: rgb(252, 239, 61);
        width: 20%;
        float: left;     
    }
    .centertext {
        background-color:mediumblue;
        width: 58%;
        float: left;
        margin-left: 1%;
        margin-right: 1%;
    }
    /* /Site content */

/* /Site Main */
/* Sitefooter */
.sitefooter {
    background-color :saddlebrown;
    margin: 1rem;
    margin-top: 0.1rem;

}
/* /Sitefooter */