* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.clearfix::after {
    content:"";
    display: table;
    clear: both;
}
body {
    width: 1000px;
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}

/* debug section */

 /* .siteheader.debug{ 
    height: 100px;
     background-color:rgb(222 175 24 / 43%); */

.heroimg.debug {
    height: 430px;
}
.titlecontent.debug {
    height: 100px;
}
.sitecontent.debug {
    height: 630px;
}
/*.sidetext.debug {
     height: 500px;
    background-color: rgb(252, 239, 61); 
}*/

/* .centertext.debug {
    height: 500px;
     background-color:mediumblue; 
}*/
.sitefooter {
  height: 50px;
}
/* /debug section */
/* Site Header */
.siteheader {
   
    margin: 1rem;
    margin-top: 0;

}

.logoimg {
    border-right: 0.2rem solid #E8E8E8;
    padding-right: 2rem;
    height: 4rem;
}
.navbar {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
a {
    text-decoration: none;
    color: #979797;
    margin-right: 0.5rem;
    font-weight: bold;
}
/* /Site Header */

/* Site Main */
    .heroimg {
        border-radius: 0.5rem;
        background-color: lightgray;
        background-image: url("../img/banner.jpg");
        background-position: center;
        background-blend-mode:multiply
    }
    .herotext {
        width: 43%;
        color: white;
        margin: 3rem;
        position:relative;
        top: 60%;
    }
    .title {
        font-size: 2rem;
        margin-top: 2rem;
    }
    .titletext {
        color: gray;
        font-size: 1rem;
    }

    
    /* Site content */
    .sidetext {
        
        width: 20%;
        float: left;     
    }
    .centertext {
        width: 58%;
        float: left;
        margin-left: 1%;
        margin-right: 1%;
    }
   .imgleft {
       height: 11rem;
       background-image: url(../img/img-1.jpg);
       background-blend-mode:multiply;
       background-color: lightgray;
       background-size: cover;
       background-position: center;
       border-radius: 1rem;
   }
    .imgcenter {
       height: 11rem;
       border-radius: 1rem;
       background-image: url(../img/banner-2.jpg);
       background-blend-mode:multiply;
       background-color: lightgray;
       background-size: cover;
       background-position: center;
       border-bottom: 3px solid lightgray;
    }
    .imgright {
       height: 11rem;
       background-image: url(../img/img-3.jpg);
       background-blend-mode:multiply;
       background-color: lightgray;
       background-size: cover;
       background-position: center;
       border-radius: 1rem;
       }
    h6 {
        font-size:medium;
        margin: 1rem;
        margin-left: 0;
    }
    p {
        font-size: medium;
    }
    /* /Site content */

/* /Site Main */
/* Sitefooter */
.sitefooter {
    background-color :saddlebrown;
    margin: 1rem;
    margin-top: 0.1rem;
}
/* /Sitefooter */